package calc

import (
	"github.com/fengjx/luchen"

	"{{.gomod}}/logic/calc/calcpub"
	"{{.gomod}}/logic/calc/internal/endpoint"
	"{{.gomod}}/logic/calc/internal/provider"
)

func Init(hs *luchen.HTTPServer) {
	calcpub.SetCalcAPI(provider.CalcProvider{})
	endpoint.Init(hs)
}
