package dto

import (
	"{{.gomod}}/logic/sys/internal/data/entity"
	"{{.gomod}}/logic/sys/syspub"
)

func BuildDictDTO(e *entity.SysDict) *syspub.DictDTO {
	if e == nil {
		return nil
	}
	return &syspub.DictDTO{
		Group: e.Group,
		Label: e.Label,
		Value: e.Value,
	}
}
