package dao
{{$ObjName := GonicCase .Table.Name}}
{{$VarObjName := FirstLower $ObjName}}
import (
	"reflect"

    "github.com/fengjx/daox"

    "{{.Var.gomod}}/integration/db"
    "{{.Var.gomod}}/logic/{{.TableOpt.Module}}/internal/data/entity"
)

var {{$ObjName}}Dao *{{$VarObjName}}Dao

func init() {
	{{$ObjName}}Dao = new{{$ObjName}}Dao()
}

type {{$VarObjName}}Dao struct {
	*daox.Dao
}

func new{{$ObjName}}Dao() *{{$VarObjName}}Dao {
    inst := &{{$VarObjName}}Dao{}
    inst.Dao = daox.NewDAO(
        db.GetDefaultDB(),
        "{{.Table.Name}}",
        "{{.Table.PrimaryKey.Name}}",
        reflect.TypeOf(&entity.{{$ObjName}}{}),
    )
	return inst
}