package dao
{{$ObjName := GonicCase .Table.Name}}
{{$VarObjName := FirstLower $ObjName}}
{{$SimpleGonicCase := GonicCase .TableOpt.SimpleName}}
{{$SimpleFirstLower := FirstLower $SimpleGonicCase}}
{{$DaoName := print $SimpleFirstLower "Dao"}}
{{$DaoVarName := print $SimpleGonicCase "Dao"}}
import (
    "github.com/fengjx/daox"

    "{{.Gomod}}/logic/{{.TableOpt.Module}}/internal/data/meta"
)

var {{$DaoVarName}} *{{$DaoName}}

func init() {
	{{$DaoVarName}} = new{{FirstUpper $DaoName}}()
}

type {{$DaoName}} struct {
	*daox.Dao
}

func new{{FirstUpper $DaoName}}() *{{$DaoName}} {
    inst := &{{$DaoName}}{}
    inst.Dao = daox.NewDaoByMeta(meta.{{$ObjName}}Meta)
	return inst
}