package endpoint

import (
	"context"

	"github.com/fengjx/luchen"

	"{{.gomod}}/logic/sys/internal/data/consts"
	"{{.gomod}}/logic/sys/internal/protocol"
	"{{.gomod}}/logic/sys/internal/service"
)

var config = configEndpoint{}

type configEndpoint struct {
}

func (e configEndpoint) MakeFetchDataEndpoint() luchen.Endpoint {
	return func(ctx context.Context, request interface{}) (interface{}, error) {
		appConfig := service.ConfigSvc.ScopeConfig(
			consts.ScopeApp,
		)
		dict := service.DictSvc.GetGroupDict()
		return protocol.AppDataResp{
			Config: appConfig,
			Dict:   dict,
		}, nil
	}
}
