package endpoint

import (
	"context"
	"strconv"

	"github.com/fengjx/daox"
	"github.com/fengjx/go-halo/utils"
	"github.com/fengjx/luchen"
	"github.com/fengjx/luchen/log"
	"go.uber.org/zap"

	"{{.gomod}}/connom/types"
	"{{.gomod}}/logic/sys/internal/data/entity"
	"{{.gomod}}/logic/sys/internal/service"
	"{{.gomod}}/transport/http"
)

var dictAdmin = sysDictAdminEndpoint{}

type sysDictAdminHandler struct {
}

func (h sysDictAdminHandler) Bind(router *luchen.HTTPServeMux) {
	router.Sub(http.AdminAPI+"/sys/dict", func(sub *luchen.HTTPServeMux) {
		sub.Handle("/add", h.add())
		sub.Handle("/update", h.update())
		sub.Handle("/del", h.del())
		sub.Handle("/batch-update", h.batchUpdate())
		sub.Handle("/query", h.query())
	})
}

func (h sysDictAdminHandler) query() *luchen.HTTPTransportServer {
	return http.NewHandler(
		dictAdmin.makeQueryEndpoint(),
		luchen.DecodeHTTPJSONRequest[daox.QueryRecord],
		luchen.EncodeHTTPJSONResponse(http.ResponseWrapper),
	)
}

func (h sysDictAdminHandler) add() *luchen.HTTPTransportServer {
	return http.NewHandler(
		dictAdmin.makeAddEndpoint(),
		luchen.DecodeHTTPJSONRequest[entity.SysDict],
		luchen.EncodeHTTPJSONResponse(http.ResponseWrapper),
	)
}

func (h sysDictAdminHandler) update() *luchen.HTTPTransportServer {
	return http.NewHandler(
		dictAdmin.makeUpdateEndpoint(),
		luchen.DecodeHTTPJSONRequest[entity.SysDict],
		luchen.EncodeHTTPJSONResponse(http.ResponseWrapper),
	)
}

func (h sysDictAdminHandler) del() *luchen.HTTPTransportServer {
	return http.NewHandler(
		dictAdmin.makeDelEndpoint(),
		luchen.DecodeHTTPJSONRequest[types.DelReq],
		luchen.EncodeHTTPJSONResponse(http.ResponseWrapper),
	)
}

func (h sysDictAdminHandler) batchUpdate() *luchen.HTTPTransportServer {
	return http.NewHandler(
		dictAdmin.makeBatchUpdateEndpoint(),
		luchen.DecodeHTTPJSONRequest[types.BatchUpdate],
		luchen.EncodeHTTPJSONResponse(http.ResponseWrapper),
	)
}

type sysDictAdminEndpoint struct {
}

func (e sysDictAdminEndpoint) makeAddEndpoint() luchen.Endpoint {
	return func(ctx context.Context, request interface{}) (response interface{}, err error) {
		param := request.(*entity.SysDict)
		id, err := service.SysDictBaseSvc.Add(ctx, param)
		if err != nil {
			log.ErrorCtx(ctx, "add sys_dict err", zap.Any("param", param), zap.Error(err))
			return nil, err
		}
		response = types.AddRsp{
			ID: id,
		}
		return
	}
}

func (e sysDictAdminEndpoint) makeUpdateEndpoint() luchen.Endpoint {
	return func(ctx context.Context, request interface{}) (response interface{}, err error) {
		param := request.(*entity.SysDict)
		ok, err := service.SysDictBaseSvc.Update(ctx, param)
		if err != nil {
			log.ErrorCtx(ctx, "update sys_dict err", zap.Any("param", param), zap.Error(err))
			return nil, err
		}
		response = types.OKRsp{
			Success: ok,
		}
		return
	}
}

func (e sysDictAdminEndpoint) makeDelEndpoint() luchen.Endpoint {
	return func(ctx context.Context, request interface{}) (response interface{}, err error) {
		param := request.(*types.DelReq)
		res := types.OKRsp{Success: true}
		if param.IDs == "" {
			return res, nil
		}
		ids := utils.SplitToSlice[int64](param.IDs, ",", func(item string) int64 {
			i, _ := strconv.ParseInt(item, 10, 64)
			return i
		})
		err = service.SysDictBaseSvc.DeleteByIDs(ctx, ids)
		if err != nil {
			return nil, err
		}
		return
	}
}

func (e sysDictAdminEndpoint) makeBatchUpdateEndpoint() luchen.Endpoint {
	return func(ctx context.Context, request interface{}) (response interface{}, err error) {
		param := request.(*types.BatchUpdate)
		ok, err := service.SysDictBaseSvc.BatchUpdate(ctx, param)
		if err != nil {
			log.ErrorCtx(ctx, "batch update sys_dict err", zap.Any("param", param), zap.Error(err))
			return nil, err
		}
		response = types.OKRsp{
			Success: ok,
		}
		return
	}
}

func (e sysDictAdminEndpoint) makeQueryEndpoint() luchen.Endpoint {
	return func(ctx context.Context, request interface{}) (response interface{}, err error) {
		query := request.(*daox.QueryRecord)
		pageVO, err := service.SysDictBaseSvc.Query(ctx, query)
		if err != nil {
			log.ErrorCtx(ctx, "page query sys_dict err", zap.Error(err))
			return nil, err
		}
		return pageVO.ToAmisResp(), nil
	}
}
