package provider

import (
	"{{.gomod}}/logic/sys/internal/service"
)

var AppProvider = &appProvider{}

type appProvider struct {
}

func (p appProvider) Init() error {
	return service.AppSvc.Init()
}
