package logic

import (
	"github.com/fengjx/luchen"

	"{{.gomod}}/logic/hello"
	"{{.gomod}}/pkg/lifecycle"
)

func Init(hs *luchen.HTTPServer, gs *luchen.GRPCServer) {
	hello.Init(hs, gs)

	lifecycle.DoHooks()
}
