package service

import (
	"context"

	"github.com/fengjx/daox"
	"github.com/fengjx/daox/sqlbuilder/ql"
	"github.com/fengjx/go-halo/json"
	"github.com/fengjx/luchen"
	"github.com/jmoiron/sqlx"
	"go.uber.org/zap"

	"{{.gomod}}/connom/types"
	"{{.gomod}}/integration/db"
	"{{.gomod}}/logic/sys/internal/dao"
	"{{.gomod}}/logic/sys/internal/data/entity"
	"{{.gomod}}/logic/sys/internal/data/meta"
)

var SysDictBaseSvc = &sysDictBaseService{}

type sysDictBaseService struct {
}

// Query 分页查询
func (svc sysDictBaseService) Query(ctx context.Context, query *daox.QueryRecord) (*types.PageVO[entity.SysDict], error) {
	log := luchen.Logger(ctx)
	readDB := dao.SysDictDao.GetReadDB()
	query.TableName = meta.SysDictMeta.TableName()
	list, page, err := daox.Find[entity.SysDict](ctx, readDB, *query)
	if err != nil {
		log.Error("page query sys_dict err", zap.Any("query", json.ToJsonDelay(query)), zap.Error(err))
		return nil, err
	}
	pageVO := &types.PageVO[entity.SysDict]{
		List:    list,
		Offset:  page.Offset,
		Limit:   page.Limit,
		Count:   page.Count,
		HasNext: page.HasNext,
	}
	return pageVO, nil
}

// Add 新增记录
func (svc sysDictBaseService) Add(ctx context.Context, model *entity.SysDict) (int64, error) {
	return dao.SysDictDao.SaveContext(ctx, model,
		meta.SysDictMeta.Ctime,
		meta.SysDictMeta.Utime,
	)
}

// Update 更新记录
func (svc sysDictBaseService) Update(ctx context.Context, model *entity.SysDict) (bool, error) {
	return dao.SysDictDao.UpdateContext(ctx, model,
		meta.SysDictMeta.PrimaryKey(),
		meta.SysDictMeta.Ctime,
		meta.SysDictMeta.Utime,
	)
}

// BatchUpdate 批量更新
func (svc sysDictBaseService) BatchUpdate(ctx context.Context, param *types.BatchUpdate) (bool, error) {
	for _, row := range param.Rows {
		var id any
		attr := map[string]any{}
		for k, v := range row {
			if k == meta.SysDictMeta.PrimaryKey() {
				id = v
				continue
			}
			attr[k] = v
		}
		err := db.GetDefaultTxManager().ExecTx(ctx, func(txCtx context.Context, tx *sqlx.Tx) error {
			_, err := dao.SysDictDao.UpdateFieldTxContext(txCtx, tx, id, attr)
			return err
		})
		if err != nil {
			return false, err
		}
	}
	return true, nil
}

// DeleteByIDs 批量更新
func (svc sysDictBaseService) DeleteByIDs(ctx context.Context, ids []int64) error {
	log := luchen.Logger(ctx).With(zap.Any("ids", ids))
	_, err := dao.SysDictDao.DeleteByCondContext(ctx, ql.C().And(
		meta.SysDictMeta.IdIn(ids...),
	))
	if err != nil {
		log.Error("delete sys_dict err", zap.Error(err))
		return err
	}
	log.Info("delete sys_dict success")
	return nil
}
