package main

import (
	"time"

	"github.com/fengjx/go-halo/json"
	"github.com/json-iterator/go/extra"
)

func init() {
	json.RegisterTimeAsInt64Codec(time.Millisecond)
	extra.RegisterFuzzyDecoders()
}
