package main

import (
	"context"
	"os"
	"os/signal"
	"syscall"

	"github.com/fengjx/luchen"
	"github.com/fengjx/luchen/log"

	"{{.gomod}}/logic"
	"{{.gomod}}/transport/http"
)

func main() {
	ctx, cancel := context.WithCancel(context.Background())
	log.Info("app start")

	httpServer := http.GetServer()
	logic.Init(ctx, httpServer)
	luchen.Start(httpServer)

	quit := make(chan os.Signal)
	signal.Notify(quit, syscall.SIGINT, syscall.SIGTERM, syscall.SIGQUIT, syscall.SIGKILL)

	<-quit
	log.Info("app stop")
	cancel()
	luchen.Stop()
}
