package provider

import (
	"context"

	"{{.gomod}}/logic/calc/internal/service"
)

type CalcProvider struct {
}

func (p CalcProvider) Add(ctx context.Context, a int32, b int32) (int32, error) {
	return service.CalcSvc.Add(ctx, a, b)
}
